---
layout: default
title: Gallery
---
<h1> </h1>

<img class="PRPhoto" src="./assets/images/LumenPR_names.png" alt="Could not load image"/>

<div id="GalleryContainer">

<h2 style="color:#0090ff;"> Renders </h2>

{% for item in site.data.RenderImages %}
<img class="smallGallery" id="Image_{{item.url}}" src="{{item.url}}" alt="could not find image"
onclick="loadModal('{{item.url}}')"/>

<!-- Modal -->
<div class="modal" id="Modal_{{item.url}}">
  <span class="close" id="Span_{{item.url}}">&times;</span>
  <img class="modal-content" id="Modal_image_{{item.url}}">
  <h3 style="color: white;"> Photo: {{item.photo}}, license: {{item.license}} </h3>
</div>

{% endfor %}

<h2 style="color:#0090ff;"> Phycons </h2>

{% for item in site.data.3dprints %}
<img class="smallGallery" id="Image_{{item.url}}" src="{{item.url}}" alt="Photo: {{item.photo}}, license: {{item.license}}"
onclick="loadModal('{{item.url}}')"/>

<!-- Modal -->
<div class="modal" id="Modal_{{item.url}}">
  <span class="close" id="Span_{{item.url}}">&times;</span>
  <img class="modal-content" id="Modal_image_{{item.url}}" alt="Photo: {{item.photo}}, license: {{item.license}}">
  <h3 style="color: white;"> Photo: {{item.photo}}, license: {{item.license}} </h3>
</div>

{% endfor %}

<h2 style="color:#0090ff;"> Hello World Demo </h2>

{% for item in site.data.HWImages %}

<img class="smallGallery" id="Image_{{item.url}}" src="{{item.url}}" alt="Photo: {{item.photo}}, license: {{item.license}}"
onclick="loadModal('{{item.url}}')"/>

<!-- Modal -->
<div class="modal" id="Modal_{{item.url}}">
  <span class="close" id="Span_{{item.url}}">&times;</span>
  <img class="modal-content" id="Modal_image_{{item.url}}" alt="Photo: {{item.photo}}, license: {{item.license}}">
  <h3 style="color: white;"> Photo: {{item.photo}}, license: {{item.license}} </h3>
</div>

{% endfor %}

<h2 style="color:#0090ff;"> ForskarFredag </h2>

{% for item in site.data.FFImages %}

<img class="smallGallery" id="Image_{{item.url}}" src="{{item.url}}" alt="Photo: {{item.photo}}, license: {{item.license}}"
onclick="loadModal('{{item.url}}')"/>

<!-- Modal -->
<div class="modal" id="Modal_{{item.url}}">
  <span class="close" id="Span_{{item.url}}">&times;</span>
  <img class="modal-content" id="Modal_image_{{item.url}}" alt="Photo: {{item.photo}}, license: {{item.license}}">
  <h3 style="color: white;"> Photo: {{item.photo}}, license: {{item.license}} </h3>
</div>

{% endfor %}

</div>
