<div class="container-fluid">
  <div class="row">
  {% for item in site.data.contribution %}
  {% assign rowRemainder = forloop.index | modulo: 4 %}
  {% if rowRemainder == 0 %}
  </div>
  <br></br>
  <div class="row">
  {% endif %}
      <div class="container col-4">
        <div class="row">
          <div class="col-7">
            <h3>
              {{item.name}}
              {%if {{item.linkedIn}} != blank %}
                </br>
                <a target="_blank" rel="noopener noreferrer" href="{{item.linkedIn}}">
                  <i class="linkedIn fa fa-linkedin-square"></i>
                </a>
              {% endif %}
            </h3>
            <img class="portrait" src="{{item.url}}"/>
          </div>
          <div class="col-5 gridCenter">
            <p>
              {{item.contribution}}
            </p>
          </div>
        </div>
      </div>
  {% endfor %}
  {% if rowRemainder == 0 %}
  </div>
  {% endif %}
</div>
<br></br>
