<table class="portraitTable">
  {% for item in site.data.contribution %}
  {% assign rowRemainder = forloop.index | modulo: 4 %}
  {% if rowRemainder == 0 %}
    <tr>
  {% endif %}
    <td class="portraitTable">
      <h3>
        {{item.name}}
        {%if {{item.linkedIn}} != blank %}
          <a target="_blank" rel="noopener noreferrer" href="{{item.linkedIn}}">
            <i class="linkedIn fa fa-linkedin-square"></i>
          </a>
        {% endif %}
      </h3>
      <img class="portrait" src="{{item.url}}"/>
    </td>
    <td class="portraitTable contribsTd">
      <p>
        {{item.contribution}}
      </p>
    </td>
  {% endfor %}
  {% if rowRemainder == 0 %}
    </tr>
  {% endif %}
</table>
